      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-10 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Save Life!</h1>
            <p>World Blood Donor Day is celebrated June 14th every year. It is an opportunity to express gratitude to those who donate their blood in order to save lives, without expecting anything in return.</p>
            <p><a href="http://www.who.int/campaigns/world-blood-donor-day/2014/en/" target="_blank" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Why Life-Connect</h2>
              <p>Blood is life saver. Life of some patients hinges on fraction of hope in quest of availability of matching blood group. Information about the details of nearby blood banks and their capacity to provide blood is hardly available in hospitals. </p>
              <p><a class="btn btn-default" href="/lifeconnect/whylifeconnect" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>About Life-Connect</h2>
              <p>Life-Connect provides a simple way to search availibity of blood/blood components across blood banks in a particular area. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Donate Blood</h2>
              <p>There is no substitute for human Blood. Donating blood may reduce the risk of heart disease for men and stimulate the generation of red blood cells. </p>
              <p><a class="btn btn-default" href="http://www.blooddonors.in/blood_facts.php" target="_blank" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-8 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="panel panel-primary">
          	<div class="panel-heading panel-primary">
      			  <h3 class="panel-title">Search For Blood Availability</h3>
      			</div>
      			<div class="panel-body">
      			
      				<%= render 'new1' %>

      			</div>
          </div>
          <div class="sidebar-module">
      			<h4>Recent Updates</h4>
      			<ol class="list-unstyled">
      			  <li><a href="#">January 2014</a></li>
      			  <li><a href="#">December 2013</a></li>
      			  <li><a href="#">November 2013</a></li>
      			  <li><a href="#">October 2013</a></li>
      			  <li><a href="#">September 2013</a></li>
      			  <li><a href="#">August 2013</a></li>
      			  <li><a href="#">July 2013</a></li>
      			</ol>
          </div>
          <div class="sidebar-module">
    		    <h4>Elsewhere</h4>
    		 	  <ol class="list-unstyled">
      			  <li><a href="#">LinkedIn</a></li>
      			  <li><a href="#">Twitter</a></li>
      			  <li><a href="#">Facebook</a></li>
    		    </ol>
          </div>
        </div><!--/span-->
      </div><!--/row-->
