<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-10 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>Why Life-Connect!</h1>
        <p>World Blood Donor Day is celebrated June 14th every year. It is an opportunity to express gratitude to those who donate their blood in order to save lives, without expecting anything in return.</p>
        <p><a href="http://www.who.int/campaigns/world-blood-donor-day/2014/en/" target="_blank" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
</div>